/* init */
* {margin: 0; padding: 0; list-style: none; box-sizing: border-box;}
a {text-decoration: none; color: inherit;}
body {font-family: "Noto Sans KR", sans-serif;}
@font-face {
    font-family: 'RixInooAriDuriR';
    src: url('../fonts/RixInooAriDuri\ Regular.ttf') format('truetype');
}
/* header */
header {font-family: 'RixInooAriDuriR', "Noto Sans KR", sans-serif;}
header h1 {text-align: center; padding: 1rem;}
header h1 span {color: #ba2336;}
/* section-1 */
.section {padding-top: 3rem;}
.container {width: 100%; max-width: 1280px; padding: 1rem 1rem; margin: 0 auto;
    display: flex; flex-direction: column; 
    justify-content: center; align-items: center;}
/* 인스타 */
.insta-container {width: 320px;}
/* 프로필 부분 */
#insta-profile {width: 100%; display: flex; align-items: end;}
#insta-profile > p {margin-left: 0.5rem;}
/* 내용 부분 */
.insta-content {width: 100%; margin-top: 0.5rem; border: 1px solid darkgray;}
/* 지역, 날씨 부분 */
#weather {text-align: center; padding: 1rem;}
#weather i {transform: rotate(-30deg); }
#weather .current-region, #weather b, #weather i {font-size: 1.5rem;}
/* 소형견, 중형견, 대형견 분류 */
#dog-type {width: 100%; padding: 1rem;}
.type {padding: 1rem 0;}
.info {width: 8rem; border-bottom: 1px solid gray;
    display: flex; justify-content: space-between; align-items: end;}
.info-small > i {font-size: 1.5rem;} .info-medium > i {font-size: 2rem;} .info-large > i {font-size: 2.5rem;}
/* 글 부분 - 이모지 */
.emoji {width: 100%; display: flex; justify-content: space-between;}
#heart, #comment, #plane {font-size: 1.5rem; margin-top: 0.5rem; margin-right: 1rem;}
#bookmark {font-size: 1.5rem; margin-top: 0.5rem;}
#heart {color:#ba2336;}
#comment {transform: scaleX(-1);}
/* 글 부분 - 내용 */
.exclamation {color: #ba2336;}
.insta-container:nth-child(2) > p {font-size: 0.875rem;}